// app global css in SCSS form
.bg-ingCircle {
    background : #fdfbdd !important;
}
.bg-goldSkill {
    background : #fee672 !important;
}
.bg-mSkill {
    background : #d9eeff !important;
}
.bg-sSkill {
    background : #f9f9f9 !important;
}
.bg-googleBack {
    background : #f0f4f9 !important;
}
.bg-googleDark {
    background: #e6e3e3 !important;
}
.q-select__dialog{
    @media(max-width: $breakpoint-sm-max){
        max-width: 70% !important;
        max-height: 50vh !important;
    }
}
.apexchart_width{
    width: 80% !important;
    @media(max-width: $breakpoint-sm-max){
        width: 100% !important;
    }
}
.clean-wrap{
    word-break: keep-all !important;
}