# Simple workflow for deploying static content to GitHub Pages
name: Update Pkm List

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  update-pkm-list:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Fetch API Data
        uses: JamesIves/fetch-api-data-action@v2.4.0
        with:
          endpoint: https://api.sleepapi.net/api/pokemon
          configuration: '{ "method": "GET" }'
      - name: Push Data to Main Branch
        uses: JamesIves/github-pages-deploy-action@v4.6.0
        with:
          branch: main # Pushes the updates to the main branch.
          folder: fetch-api-data-action # The location of the data.json file saved by the Fetch API Data action.
          target-folder: ./src/pkmJson # Saves the data into the 'data' directory on the main branch.
